.api-post-entry {
    &:nth-child(n + 2) {
        margin-top: 5px;
    }

    &__label,
    &__value {
        display: inline-block;
        width: 200px;
    }

    &__label {
        margin-right: 10px;
    }

    &__input {
        display: block;
        width: calc(100% - 10px);
    }
}