@import '~Style/global';

.request {
    margin: 10px;

    &:nth-child(2 + n) {
        border-top: 1px dashed $colorGreen2;
        padding-top: 10px;
    }

    h1 {
        margin: 0 10px 0 0;
        padding: 0;

        .title {
            &.success {
                color: $colorGreen1;
            }
            &.error {
                color: $colorRed1;
            }
        }

        .query {
            background: $bgColor0;
            display: inline-block;
            font: normal 12px 'Courier New', sans-serif;
            margin-left: 10px;
            height: 100%;
            padding: 3px 5px;
            vertical-align: middle;
        }
    }
}