@import '~Style/global';

.request {
    margin: 10px;

    &:nth-child(n + 2) {
        border-top: 1px dashed $colorGreen2;
        padding-top: 10px;
    }

    .header {
        margin: 0 0 10px 0;
        padding: 0;

        h1 {
            cursor: pointer;
            display: inline-block;
            margin: 0 10px 0 0;
            padding: 0;

            &.success {
                color: $colorGreen1;
            }
            &.error {
                color: $colorRed1;
            }
        }

        .query {
            background: $bgColor0;
            display: inline-block;
            font: normal 12px 'Courier New', sans-serif;
            margin-left: 10px;
            height: 100%;
            padding: 2.5px 5px;
            vertical-align: middle;
        }

        .delay {
            color: $color3;
            font: normal 12px 'Courier New', sans-serif;
            margin: 5px 0 0 0;
            padding: 0;

            .int {
                color: $linkColor0;
                margin-right: 5px;
            }
        }
    }


    .body {
        border-left: 1px solid $color4;
        display: block;
        overflow: hidden;
        padding-left: 10px;

        &--hidden {
            display: none;
        }

        .type {
            color: $color1;
            background: $bgColor0;
            margin: 0 0 3px 0;
            padding: 3px;
        }
    }
}