@import './../../global';

.windowmessage {
    display: block;
    font: normal 12px/1.5 $font0;
    margin: 5px;

    &:nth-child(n + 2) {
        margin-top: 10px;
    }

    .text {
        background: $bgColor0;
        border-radius: 5px;
        display: inline-block;
        margin-left: 5px;
        padding: 5px;
        vertical-align: top;
    }
}