$avatarUrl:  '~Image/avatar/avatar-';
$avatarTotal: 7;

.windowavatar {
    background: transparent top left no-repeat;
    border-radius: 25%;
    display: inline-block;

    @for $i from 0 through $avatarTotal {
        &.windowavatar#{$i} {
            background-image: url($avatarUrl + $i + '.jpg');
        }
    }
}