@import '~Style/global';

$radius: 7px;

.windowinput {
    bottom: $inputPadding * 2 + 2px;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;

    &__input {
        @include mRoundBottom($radius);
        height: 100%;
        width: calc(100% - (#{$inputPadding} * 2 + 5px));
    }

    &__submit {
        display: none;
    }
}