@import './../../global';

$nameFontSize: 24px;
$radius: 7px;

.windowchat {
    border: 1px solid $color0;
    border-radius: $radius;
    box-shadow: 0 0 3px $color0;
    position: absolute;

    .user {
        @include mRoundTop($radius);
        background: $bgColor3;

        .buttonicondrag {
            font-size: 20px;
            margin-top: 5px;
            vertical-align: top;
        }

        .name {
            color: $linkColor1;
            display: inline-block;
            font-size: $nameFontSize;
            margin: 8px 0 0 10px;
            text-transform: uppercase;
            vertical-align: top;
        }

        .windowavatar {
            cursor: pointer;
        }
    }

    .message {
        background: $bgColor2;
        padding: 7px 0;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-track {
            background: $bgColor0; 
        }
        &::-webkit-scrollbar-thumb {
            background: $linkColor0;

            &:hover {
                background: $linkColor1;
            }
        }
    }
}