@import './../../global';

$nameFontSize: 24px;
$radius: 7px;

.windowchat {
    border: 1px solid #fff;
    border-radius: $radius;
    box-shadow: 0 0 3px #fff;
    position: absolute;

    .user {
        @include mRoundTop($radius);
        background: $bgColor3;

        .buttonicondrag {
            font-size: 20px;
            margin-top: 5px;
            vertical-align: top;
        }

        .name {
            color: $linkColor1;
            display: inline-block;
            font-size: $nameFontSize;
            margin: 8px 0 0 10px;
            text-transform: uppercase;
            vertical-align: top;
        }
    }

    .message {
        overflow-y: auto;
    }
}