@import '~Style/global';



.form {
    border-bottom: 3px solid $colorGreen2;
    margin: 10px;
    min-width: 250px;
    padding-bottom: 10px;

    .input {
        display: block;
        width: calc(100% - 10px);
    }

    .loading,
    .submit {
        background: #000;
        border: 2px solid $linkColor0;
        color: $linkColor0;
        display: inline-block;
        font: bold 14px 'Arial', sans-serif;
        margin: 12px;
        padding: 5px 10px;
        text-align: center;
    }

    .loading {
        font-style: italic;
    }

    .submit {
        cursor: pointer;

        &:hover {
            border-color: $linkColor1;
            color: $linkColor1;
        }
    }
}