$iconSize: 50px;

.contenthyperlink {
    display: block;

    span {
        display: block;
    }

    .icon {
        display: inline-block;
        height: 100%;
        width: 48%;
        max-height: $iconSize;
        max-width: $iconSize;

        &.domain {
            margin-right: 2%;
        }
    }

    img.domain {
        filter: url('~Data/image-filter.svg#hyperlink-out');
    }

    &:hover {
        img.domain {
            filter: url('~Data/image-filter.svg#hyperlink-hover');
        }
    }
}