$bgColor0: #131313;
$bgColor1: #262626;
$bgColor2: #333;
$bgColor3: #464646;

$color0: #fff;
$color1: #ddd;
$color2: #bbb;
$color3: #909090;
$color4: #777;

$colorGreen0: #0f0;
$colorGreen1: #0d0;
$colorGreen2: #0b0;

$linkColor0: #008f99;
$linkColor1: #2effe6;