@import './global';

html, body {
    background: $bgColor1;
    color: $color1;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: $linkColor0;
    text-decoration: none;

    &:hover {
        color: $linkColor1;
        text-decoration: underline;
    }
}

blockquote, div,
h1, h2, h3, h4, h5, h6,
p, pre {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $color0;
}

input[type="search"],
input[type="text"],
textarea {
    background: $bgColor0;
    border: 1px solid $linkColor0;
    color: $linkColor0;
    padding: $inputPadding;
    
    &:focus {
        background: $bgColor1;
        color: $linkColor1;
        outline: 2px solid $linkColor1;
    }
    &:not(:focus) {
        font-style: italic;
    }

    @include mPlaceholder {
        color: $color4;
        text-indent: 3px;
    }
}

.main {
    position: relative;
}

.clearfix {
    &,
    &:after {
        clear: both;
    }
    
    &:after,
    &:before {
        display: table;
        content: ' '; 
    }
}